##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store


##############################
## ADDITIONAL
##############################
o01_SpringDemoOne/
o02_SpringDemoAnnotations/
o03_SpringMVCDemo/
o04_HibernateTutorial/
o26_MavenApp/
o37_jackson-databinding-json-demo/
o38_spring-rest-demo/
o39_spring-rest-demo-controller-advice/
o41-spring-boot-demo/
o42-dev-tools-demo/
o43-actuator-demo/
o44-command-line-demo/
o45-properties-demo/
o50-thymeleaf-demo/
o51-thymeleaf-demo-css/
o52-thymeleaf-demo-employees-list/
o53-thymeleaf-demo-employees-list-css/
o54-thymeleaf-demo-employees-list-crud-add/
o54-thymeleaf-demo-employees-list-crud-db/
o55-thymeleaf-demo-employees-list-crud-add/
o56-thymeleaf-demo-employees-list-crud-update/


		
##############################
## SERVERS
##############################
Servers/
